input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header, h1{
    font-family: "clarendon-urw", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    text-align: center;
}

/* login  button */
#save {    
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    display: flex;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.625rem 2.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    transition: all  .2s ease;
    text-decoration: none;
}

#save:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

/* board size label */
label{
    font-family: "clarendon-urw-extra-narrow", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    padding: 10px;
}
  
/* aspects of the board */
#myBoard {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#myBoard td {
    border: 1px solid black;
    padding: 0;
}

.board-input {
    font-family: Arial, sans-serif;
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height equal to the width */
    box-sizing: border-box;
    border: none;
    text-align: center; /* Center the text inside the input */
    padding: 0; /* Remove padding from inputs */
    font-size: 16px; /* Adjust font size as needed */
}

.board-input:focus{
    background-color: #ffda00;
}

/* board size number value */
#boardSize {
    width: 40px;
    text-align: center;
    border-radius: 13em;
    outline: none;
    border: none;
    font-size: 16px; /* Adjust font size as needed */
    color: #002019;
    background-color: transparent;
}

/* left right btns */ 
.numberControl {
    display: flex;
    align-items: center;
}
  
#numLeft::before,
#numRight::after {
    content: attr(data-content);
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}
  
#numLeft::before {
    content: "-";
}
  
#numRight::after {
    content: "+";
}
  
.number-quantity {
    border: 0;
    padding: none;
    width: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
  
#numLeft:hover::before,
#numRight:hover::after {
    background-color: #666666;
}

/* clear board button */
button {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 12px;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #24292e;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    cursor: pointer;
}

button:hover {
    background-color: #f3f4f6;
    transition-duration: 0.1s;
}

button:disabled {
    background-color: #f3f4f6;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
}

button:active {
    background-color: #c4c8ce;
}

.flex-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
}
  
.left-half {
/* Styles for the left half */
    justify-content: center;
    align-items: center;
}

